<!doctype html>
<html>
<head>
<template source='TPL:common.head' load='true' />
<link href="{@theme:css}/forum.css?v={@NEXT_RELEASE}" rel="stylesheet" />
</head>
<style>
#se_radio {padding:15px;}
#se_radio p{padding:5px;height:20px;}
</style>
<body>

<div class="wrap">
<template source='TPL:common.header' load='true' />
<div class="main_wrap">
		<pw-tpl id="main_segment"/>
		<div class="bread_crumb" id="bread_crumb">
			<a href="{@url:}" class="home" title="{@C:site.info.name}">首页</a><em>&gt;</em><a href="{@url:bbs/index/run}">本站新帖</a>
		</div>
		<pw-tpl id="indexHead_segment"/>
		<div id="cloudwind_forum_top"></div>
		<div class="main cc">
			<div class="main_sidebar">
				<template source='TPL:common.sidebar_2' load='true' />
			</div>
				<!--中间开始-->
	<div class="middleside1" style="width:570px;padding-top:10px;">
		<div class="paixu" style="width:550px">
		
			<div class="content_filter" ><a href="{@url:bbs/forum/puzzle?order=postdate}<!--#if($menu=='hot'){#-->&type=hot<!--#}#-->" class="{@Pw::isCurrent($order == 'postdate')}">最新发帖</a><span>|</span><a href="{@url:bbs/forum/puzzle?order=lastpost}<!--#if($menu=='hot'){#-->&type=hot<!--#}#-->" class="{@Pw::isCurrent($order != 'postdate')}">最后回复</a></div>
				<h3>浏览</h3>	
			</div>
				<!--# if ($threadList) { #-->
				<ul class="askSel">
				<!--# foreach ($threadList as $key => $value) { #-->
				<li>
					<span style="float:right">{$value['v_type']}</span>
					<h3>
					<!--# if ($value['topic_type']==1) { #-->
					<span style="color:red">【提问】</span>
					<!--# }else{ #-->
					<span style="color:red">【分享】</span>
					<!--#}#-->
					<a href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']}" class="st" style="{$value['highlight_style']}" title="{$value['subject']}" target="_blank">{$value['subject']}</a> <hook class='$threadList' name='createHtmlAfterSubject' args="array($value)" /><!--# if ($value['ifupload']) { #--><span class="posts_icon"><i class="icon_{$uploadIcon[$value['ifupload']]}" title="{$icon[$uploadIcon[$value['ifupload']]]}"></i></span><!--# } #-->
					</h3>
					<div class="touxiangdiv"><span><img class="J_avatar" src="{@Pw::getAvatar($value['lastpost_userid'])}" data-type="middle"  alt="{$loginUser->username}" /></span></div>
					<div class="contdiv">
					<p>最后回复：<a class="J_user_card_show" data-uid="{$value['lastpost_userid']}" href="{@url:space/index/run?uid=$value['lastpost_userid']}">{$value['lastpost_username']}&nbsp;&nbsp;&nbsp;</a><span><a  rel="nofollow" aria-label="最后回复时间"><!--# echo Pw::time2str($value['lastpost_time'], 'm-d H:i');#--></a></span></p>
					</div>
					<div class="clear"></div>
					<div class="date">
					<span class="colorGray">楼主：<a class="J_user_card_show" data-uid="{$value['created_userid']}" href="{@url:space/index/run?uid=$value['created_userid']}">{$value['created_username']}&nbsp;&nbsp;&nbsp;</a><span><!--# echo Pw::time2str($value['created_time'], 'Y-m-d');#--></span></span>
					<p><!--#if($value['jf']){#-->悬赏<span>{$value['jf']}</span>分 <!--#}#--> 浏览<span>{$value['hits']}</span> | 回复<span>{$value['replies']} | <a href="javascript:click_concerned({$value['tid']},{$value['created_userid']})">关注</a></span></p>
					</div>
					</li>
				<!--# } #-->
		</ul>
			<!--# } else { #-->
						<div class="not_content">
							啊哦，本站暂没有任何内容哦！
						</div>
						<!--# } #-->
		<div class="J_page_wrap cc" data-key="true">
						<page tpl="TPL:common.page" page="$page" per="$perpage" count="$count" total="$totalpage" url="bbs/index/run" args="$urlargs"/>
		</div>
					<pw-tpl id="forum_bottom"/>
	</div><!--中间结束-->
				<template source='TPL:common.info_radio' load='true' />
			</div>
		</div>
		<div id="cloudwind_forum_bottom"></div>
	</div>
	
	<div class="clear"></div>
</div>
<template source='TPL:common.footer' load='true' />
</div>
<script>
Wind.use('jquery', 'global');

</script>
<pw-end/>
</body>
</html>