<li   <!--#if(!$topmenu || $topmenu=='tiwen'){#-->class="menuli"<!--#}#-->>
<a  href="{@url:bbs/index/run?order=lastpost}"><p class="myInfoBg1">提问</p></a>
</li>
<li  <!--#if($topmenu=='fenxiang'){#-->class="menuli"<!--#}#-->>
	<a href="{@url:bbs/forum/my}"><p class=" myInfoBg2">分享</p></a>
</li>
<li <!--#if($topmenu=='huifu'){#-->class="menuli"<!--#}#-->>
	<a href="{@url:bbs/forum/myback}"><p class=" myInfoBg3">回复</p></a>
</li>
<!--#if(0==1){#-->
<li <!--#if($topmenu=='qijian'){#-->class="menuli"<!--#}#-->>
	<a href="{@url:bbs/forum/device}"><p class=" myInfoBg4">器件</p></a>
</li>
<li <!--#if($topmenu=='pengyou'){#-->class="menuli"<!--#}#-->>
	<a href="{@url:bbs/forum/firend}"><p class=" myInfoBg5">朋友</p></a>
</li>
<li <!--#if($topmenu=='zhuizong'){#-->class="menuli"<!--#}#-->>
	<a href="{@url:bbs/forum/track}"><p class=" myInfoBg6">追踪</p></a>
</li>
<li <!--#if($topmenu=='tuijian'){#-->class="menuli"<!--#}#-->>
	<a href="{@url:bbs/forum/warn}"><p class=" myInfoBg7">推荐</p></a>
</li>
<!--#}#-->