<!doctype html>
<html>
<head>
	<template source='TPL:common.head' load='true' />
	<link href="{@theme:css}/profile.css?v={@NEXT_RELEASE}" rel="stylesheet" />
</head>

<body>
<div class="wrap">
	<template source='TPL:common.header' load='true' />
		<div class="main_wrap">
			<div class="main cc">
				<div class="main_sidebar">
					<template source='TPL:common.sidebar_2' load='true' />
				</div>
				<div class="cc profile_page">
						<div class="cm"  style="width:auto">
								
									<!--#$this->content();#-->
								
						</div>
					
				</div>
			</div>
		</div>
		<template source='TPL:common.footer' load='true' />
</div>
</body>
</html>