<!--.main-wrap,#main End-->
<div class="tac">
<advertisement id='Site.Footer1' sys='1'/><br />
<advertisement id='Site.Footer2' sys='1'/>
</div>
<div class="footer_wrap">
	<div class="footer">
		<pw-drag id="footer_segment"/>
		<div class="bottom">
		欢迎您进入Aimfive电子社区
		</div>
		<p>Powered by <a href="/" target="_blank" rel="nofollow">Aimfive</a> &copy;2003-2014 <a href="/" target="_blank" rel="nofollow">Aimfive.com</a> <a href="/" target="_blank" rel="nofollow">{@Wekit::C('site','info.icp')}</a></p>
		<p>{@Wekit::C('site','statisticscode')|html}</p>
	</div>
	
</div>

<!--返回顶部-->
<a href="#" rel="nofollow" role="button" id="back_top" tabindex="-1">返回顶部</a>
